{% extends 'base.html' %}

{% block title %}About Me{% endblock %}
{% block page_title %}This page is about me{% endblock %}

{% block content %}
  <p>
    Hi! My name is {{ info['name'] }}. I'm a beginner {{ info['code_lang'] }} programmer. I love to create useful and interesting
    applications.
  </p>

  <h2>My skills:</h2>
  <ul>
    {% for name, skill in info.skills.items() %}
    <li>{{ name }}:
    {% for item in skill %}
      <ul>
        <li>{{ item }}</li>
      </ul>
    {% endfor %}
    </li>
  {% endfor %}

  </ul>

  <h2>My education</h2>
  <ul>
    <li>TOP Academy (2023-2024)</li>
  </ul>

  <h2>My Contacts</h2>
  <ul>
    <li>Email:<a href="mailto:{{ info['email'] }}">{{ info['email'] }}</a></li>
    <li>GitHub: <a href={{ info['github'] }}>{{ info['github'] }}</a></li>
  </ul>
{% endblock %}