{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block page_title %}Login{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center">
    <form class="col-md-4 d-flex flex-column align-items-stretch" action="/auth/login/" method="post">
      {% if message %}
        <div class="alert alert-info" role="alert">
          {{ message }}
        </div>
      {% endif %}
      <div class="row mb-3">
        <label>
          <input type="text" class="form-control" placeholder="Enter your login" name="login">
        </label>
      </div>
      <div class="row mb-3">
        <label>
          <input type="password" class="form-control" placeholder="Enter your password" name="password">
        </label>
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>


{% endblock %}