{% extends 'base.html' %}

{% block title %}Todo list{% endblock %}

{% block page_title %}Todo list{% endblock %}

{% block content %}
  <form class="col-lg-6" action="/todo/add_task/" method="post">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Add your task here" name="todo">
      <button class="btn btn-primary" type="submit" id="button-addon2">Add task</button>
    </div>
  </form>
  <ul class="col-lg-6 list-group list-group-flush">
    {% if todos %}
      {% for todo in todos %}
        <form action="/todo/remove_task/" method="post">
          <li class="list-group-item d-flex justify-content-between align-items-center gap-2">
            {{ todo.text }}
            <input type="hidden" name="index" value="{{ todo.id }}">
            <div>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editTaskModal" onclick="setModalValues('{{ todo.id }}', '{{ todo.text }}')">
                edit
              </button>
              <button class="btn btn-danger" type="submit">remove</button>
            </div>
          </li>
        </form>
      {% endfor %}
    {% else %}
      <li class="list-group-item d-flex justify-content-between align-items-center gap-2">
        No tasks
      </li>
    {% endif %}
  </ul>
  {# html modal edit forn on bootstrap5#}
  {% include 'includes/_edit_modal.html' %}
{% endblock %}
